.DS_Store
.bundle

**/xcuserdata
*.pbxuser
*.mode1v3

project.xcworkspace/

Pods/
Podfile.lock
# Add this line if you want to avoid checking in source code from the Xcode workspace
*.xcworkspace

Carthage/
vendor/

fastlane/report.xml
*.ipa
*.dSYM.zip
